<link rel='stylesheet' href='/css/flags.min.css'/>
<div class="row">
    {{#each boxList}}
        <div class="p-3">
            <div class="card text-center" style="width: 18rem;">
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <div class="card-header bg-info">
                    {{#if this.public}}
                        <i class="fa fa-unlock"></i>
                    {{else}}
                        <i class="fa fa-lock"></i>
                    {{/if}}
                    <h5 class="card-title"> {{ this.name}} </h5>
                </div>
                <div class="card-body bg-light">
                    <img src="/images/blank.gif" class="flag flag-{{this.front}}"/>
                    <img src="/images/blank.gif" class="flag flag-{{this.back}}"/>
                    <h6 class="card-subtitle mb-2 text-muted"> {{this.front}} {{this.back}} </h6>
                    <p class="card-subtitle mb-2 text-muted">Contains {{ this.verbCount }} verbs</p>
                    <p class="card-subtitle mb-2 text-muted">Owner: {{ this.owner}}</p>
                    {{#if lastPlayDate}}
                        <div class="text-muted">From <b>{{this.back}}</b> to <b>{{this.front}}</b></div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar"
                                 style="width: {{this.levelFrontLow}}%" aria-valuenow="{{this.levelFrontLow}}"
                                 aria-valuemin="0" aria-valuemax="100">{{this.levelFrontLow}} %
                            </div>
                            <div class="progress-bar bg-warning" role="progressbar"
                                 style="width: {{this.levelFrontMid}}%" aria-valuenow="{{this.levelFrontMid}}"
                                 aria-valuemin="0" aria-valuemax="100">{{this.levelFrontMid}} %
                            </div>
                            <div class="progress-bar bg-success" role="progressbar"
                                 style="width: {{this.levelFrontHigh}}%" aria-valuenow="{{this.levelFrontHigh}}"
                                 aria-valuemin="0" aria-valuemax="100">{{this.levelFrontHigh}} %
                            </div>
                        </div>

                        <div class="text-muted">From <b>{{this.front}}</b> to <b>{{this.back}}</b></div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{this.levelBackLow}}%"
                                 aria-valuenow="{{this.levelBackLow}}" aria-valuemin="0"
                                 aria-valuemax="100">{{this.levelBackLow}} %
                            </div>
                            <div class="progress-bar bg-warning" role="progressbar"
                                 style="width: {{this.levelBackMid}}%" aria-valuenow="{{this.levelBackMid}}"
                                 aria-valuemin="0" aria-valuemax="100">{{this.levelBackMid}} %
                            </div>
                            <div class="progress-bar bg-success" role="progressbar"
                                 style="width: {{this.levelBackHigh}}%" aria-valuenow="{{this.levelBackHigh}}"
                                 aria-valuemin="0" aria-valuemax="100">{{this.levelBackHigh}} %
                            </div>
                        </div>
                        <span class="text-muted">Last played: {{dateFormat lastPlayDate
                                                                           "MMMM Do YYYY, h:mm:ss a"}}</span>
                    {{else}}
                        <span class="text-muted">Not played yet</span>
                    {{/if}}
                </div>
                <div class="card-footer bg-secondary">
                    <div class="">
                        <a href="#" class="btn btn-info" disabled>View</a>
                        <a href="/play/{{this.id}}" class="btn btn-primary">Play</a>
                        <a href="#/learn/{{this.id}}" class="btn btn-success" disabled>Learn</a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>