{{#each boxList}}
    <div class="card" style="width: 18rem;">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <div class="card-body">
            {{#if this.public}}
                <i class="fa fa-unlock"></i>
            {{else}}
                <i class="fa fa-lock"></i>
            {{/if}}
            <h5 class="card-title"> {{ this.name}} </h5>
            <h6 class="card-subtitle mb-2 text-muted"> {{ this.front}} - {{this.back}} </h6>
            <p class="card-subtitle mb-2 text-muted">Contains {{ this.verbCount }} verbs</p>
            <p class="card-subtitle mb-2 text-muted">Owner: {{ this.owner}}</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-info" disabled>View</a>
            <a href="/play/{{this.id}}" class="btn btn-primary">Play</a>
        </div>
    </div>
{{/each}}